{% extends 'layouts/base.html' %}

{% block title %} Accueil {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 200px; background-image: url(/static/assets/img/theme/robot-cover.png); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Bonjour ami</h1>
            <p class="text-white mt-0 mb-5">Je m'appelle topCy et je suis là pour vous aider à collecter et analyser les opinions à partir des réseaux sociaux. Allez-y, essayez !</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card bg-secondary shadow">
            <div class="card-body">
              <div class="row">
              </div>
                <form>
                  <h6 class="heading-small text-muted mb-4">Plateformes et Langues</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Plateformes</label>
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="twittercheckbox" checked>
                            <label class="form-check-label" for="twittercheckbox">Twitter</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="redditcheckbox">
                            <label class="form-check-label" for="redditcheckbox">Reddit</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Langues</label>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name ="langageradiobox" id="frenchbox" value="fr" checked>
                            <label class="form-check-label" for="frenchbox">Français</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name ="langageradiobox" id="englishbox" value="en">
                            <label class="form-check-label" for="englishbox">Anglais</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                </form>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-body">
              <h2>New post</h2>
              <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
              </form>
              <!-- <form method="POST" id="search-form">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Paramètres de recherche</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="product-name">Nom du produit</label>
                        <input id="product-name" class="form-control form-control-alternative" placeholder="Par exemple: Redmi Note 8" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="start-date">Date début</label>
                        <input type="date" id="start-date" class="form-control form-control-alternative" placeholder="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="end-date">Date fin</label>
                        <input type="date" id="end-date" class="form-control form-control-alternative" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Paramètres avancés</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Termes de recherche</label>
                    <textarea rows="4" id="search-terms" class="form-control form-control-alternative" placeholder="Les aspects qui vous intéressent le plus à propos du produit">batterie, prix, photos, qualité, support</textarea>
                  </div>
                </div>
                <button type="submit" onclick="onClick(this)" class="btn btn-primary float-right">Exécuter</button>
              </form> -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script type="text/javascript">
  // function onClick($this) {
  //   var product_name = document.getElementById('product-name').value;
  //   var start_date = document.getElementById('start-date').value;
  //   var end_date = document.getElementById('end-date').value;
  //   var search_terms = document.getElementById('search-terms').value;

  //   if(product_name == ''){
  //     alert("Veuillez entrer le nom du produit");
  //   } else if(start_date == ''){
  //     alert("Veuillez entrer la date de début");
  //   }else if(end_date == ''){
  //     alert("Veuillez entrer la date de fin");
  //   }else{
  //     // do somethinf
      
  //   }
  // }
</script>
{% endblock javascripts %}
